<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./file/img/cime.png" type="image/x-icon">
    <title>Inversiones Cimex VC</title>

    <!-- meyer-reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <!-- normalize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

    <!-- styles -->
    <link rel="stylesheet" href="../src/style/style-form.css">
    <link rel="stylesheet" href="../src/style/style-vista-gallery.css">
    <link rel="stylesheet" href="../src/style/style-gallery.css">
    <link rel="stylesheet" href="../src/style/style-gallery-movile.css">


</head>

<body>
    <header id="home">
        <!-- navbar -->
        <nav id="nav">
            <div class="nav-center">
                <!-- nav header -->
                <div class="nav-header">
                    <img src="../file/img/cime.png" class="logo" alt="logo" />
                    <h4>INVERSIONES <span>VC</span></h4>
                    <button class="nav-toggle">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <!-- links -->
                <div class="links-container">
                    <ul class="links">
                        <li>
                            <a href="../index.html#home" class="scroll-link">Inicio</a>
                        </li>
                        <li>
                            <a href="../index.html#about" class="scroll-link">Acerca De</a>
                        </li>
                        <li>
                            <a href="../index.html#services" class="scroll-link">Obras</a>
                        </li>
                        <li>
                            <a href="#contact" class="scroll-link">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="gallery-container-movile" style="display: none;">
            <article id="slider-movile">

                <input class="input-radio" checked type='radio' name='slider' id='slide1' />
                <input class="input-radio" type='radio' name='slider' id='slide2' />
                <input class="input-radio" type='radio' name='slider' id='slide3' />
                <input class="input-radio" type='radio' name='slider' id='slide4' />
                <input class="input-radio" type='radio' name='slider' id='slide5' />
                <div id="slides-movile">
                    <div id="container-movile">
                        <div class="inner">

                            <article class="article-slider">
                                <div class='caption'>
                                    <bar>SC Quemadense: Tanques de Combustible</bar>
                                </div>
                                <img src="../file/img/obras/SC-Quemadense/1.webp" />
                            </article>
                            <article class="article-slider">
                                <div class='caption'>
                                    <bar>SC Quemadense: Foso enterramiento de Tanques</bar>
                                </div>
                                <img src="../file/img/obras/SC-Quemadense/2.webp" />
                            </article>
                            <article class="article-slider">
                                <div class='caption'>
                                    <bar>SC Quemadense: Foso para soterrar</bar>
                                </div>
                                <img src="../file/img/obras/SC-Quemadense/3.webp" />
                            </article>
                            <article class="article-slider">
                                <div class='caption'>
                                    <bar>SC Quemadense: Tankes</bar>
                                </div>
                                <img src="../file/img/obras/SC-Quemadense/4.webp" />
                            </article>
                            <article class="article-slider">
                                <div class='caption'>
                                    <bar>SC Quemadense: Tankes</bar>
                                </div>
                                <img src="../file/img/obras/SC-Quemadense/5.webp" />
                            </article>
                            <article class="article-slider">
                                <div class='caption'>
                                    <bar>SC Quemadense: Tankes</bar>
                                </div>
                                <img src="../file/img/obras/SC-Quemadense/6.webp" />
                            </article>
                            <article class="article-slider">
                                <div class='caption'>
                                    <bar>SC Quemadense: Tankes</bar>
                                </div>
                                <img src="../file/img/obras/SC-Quemadense/7.webp" />
                            </article>
                            

                        </div>
                    </div>
                </div>
                <div id="commands">
                    <label for='slide1'></label>
                    <label for='slide2'></label>
                    <label for='slide3'></label>
                    <label for='slide4'></label>
                    <label for='slide5'></label>
                    <label for='slide6'></label>
                    <label for='slide7'></label>
                </div>
                <div id="active">
                    <label for='slide1'></label>
                    <label for='slide2'></label>
                    <label for='slide3'></label>
                    <label for='slide4'></label>
                    <label for='slide5'></label>
                    <label for='slide6'></label>
                    <label for='slide7'></label>
                </div>
            </article>
        </div>

        <div class="gallery-container">

            <!-- Galery -->
            <div class="galery-container">
                <div class="slider" id="slider"
                    style="--img-prev:url(https://lh3.googleusercontent.com/aC9nyW5dhaYFmWD8fcf8DApjpH08eHEkbCHqmUPHRQ5T3jK-QyNKZYVMehmrvyPdEA_KxWvgZ3_kyOOYOAv99Ow3UoKSvEloleVKGSfLOwOyDV3Q6Dwi1G-NYoa9-t_ofmmskE6BYnVIOnIz2HWlMcijzIEwvKAL_R4z63DaLgG0z_OcGiSQHunwGAPXrBQUv42ZXuIMODq4zxDHczSxJ72b0-_udtdQK3JuT2X8nXCwFoF7GxmOpzXS0H5f50DuCbXoXcx-O7bgBMCXZdMpTxB27-wdXeLmxpYUySXgjSN2NAKmK16DmGLYvw5tMlrqwb8h4MJEEbXjP1pjPxXsahb7UZseEGyn80uLjATANJvusyJWCtzkkxYXPz-yI1rDvfEJKe2eyA-5AvFlzFBSwBMASn8f7mXinUrXMMREkJQjoi89NfZ91G7253OEVQOqcWxddiYtcHCO5v6Pl3QfV2SUTWXgggscDSY2ezjSPpYERNTXnIM_aCyWmIG7ybrfqOB0eVYBAgynyuPVbjd4KuZWZq2Dfu33HX1RuPKglbOuZGD1QbpJnruvUVkAmjDXI40ENN7X=w1600-h766);">
                    <div class="slider__content" id="slider-content">
                        <div class="slider__images">
                            <div class="slider__images-item slider__images-item--active" data-id="1"><img
                                    src="../file/img/obras/SC-Quemadense/1.webp" />
                            </div>
                            <div class="slider__images-item" data-id="2"><img
                                    src="../file/img/obras/SC-Quemadense/2.webp">
                            </div>
                            <div class="slider__images-item" data-id="3"><img
                                    src="../file/img/obras/SC-Quemadense/3.webp" />
                            </div>
                            <div class="slider__images-item" data-id="4"><img
                                    src="../file/img/obras/SC-Quemadense/4.webp" />
                            </div>
                            <div class="slider__images-item" data-id="5"><img
                                    src="../file/img/obras/SC-Quemadense/5.webp" />
                            </div>
                            <div class="slider__images-item" data-id="6"><img
                                    src="../file/img/obras/SC-Quemadense/6.webp">
                            </div>
                            <div class="slider__images-item" data-id="7"><img
                                    src="../file/img/obras/SC-Quemadense/7.webp">
                            </div>
                            <div class="slider__images-item" data-id="8"><img
                                    src="../file/img/obras/SC-Quemadense/8.webp">
                            </div>
                            <div class="slider__images-item" data-id="9"><img
                                    src="../file/img/obras/SC-Quemadense/9.webp">
                            </div>
                            <div class="slider__images-item" data-id="10"><img
                                    src="../file/img/obras/SC-Quemadense/10.webp">
                            </div>
                            <div class="slider__images-item" data-id="11"><img
                                    src="../file/img/obras/SC-Quemadense/11.webp">
                            </div>
                            <div class="slider__images-item" data-id="12"><img
                                    src="../file/img/obras/SC-Quemadense/12.webp">
                            </div>

                        </div>
                        <div class="slider__text">
                            <div class="slider__text-item slider__text-item--active" data-id="1">
                                <div class="slider__text-item-head">
                                    <h3>SC Quemadense</h3>
                                </div>
                                <div class="slider__text-item-info">
                                    <p>“Obra en Ejecucion en el Municipio de Quemado de Guines.”<br><strong>Foto:
                                        </strong>Tanques de
                                        Combustible por Colocar</p>
                                </div>
                            </div>
                            <div class="slider__text-item" data-id="2">
                                <div class="slider__text-item-head">
                                    <h3>SC Quemadense</h3>
                                </div>
                                <div class="slider__text-item-info">
                                    <p><strong>Foto: </strong>Vista del foso sin anclajes</p>
                                </div>
                            </div>
                            <div class="slider__text-item" data-id="3">
                                <div class="slider__text-item-head">
                                    <h3>SC Quemadense</h3>
                                </div>
                                <div class="slider__text-item-info">
                                    <p><strong>Foto: </strong>Vista del Foso preparado con los anclajes de los Tanques
                                    </p>
                                </div>
                            </div>
                            <div class="slider__text-item" data-id="4">
                                <div class="slider__text-item-head">
                                    <h3>SC Quemadense</h3>
                                </div>
                                <div class="slider__text-item-info">
                                    <p><strong>Foto: </strong>Foto de transportación de los tanques para colocación</p>
                                </div>
                            </div>
                            <div class="slider__text-item" data-id="5">
                                <div class="slider__text-item-head">
                                    <h3>SC Quemadense</h3>
                                </div>
                                <div class="slider__text-item-info">
                                    <p><strong>Foto: </strong>Detalles del los tanques de 50 000lts</p>
                                </div>
                            </div>
                            <div class="slider__text-item" data-id="6">
                                <div class="slider__text-item-head">
                                    <h3>SC Quemadense</h3>
                                </div>
                                <div class="slider__text-item-info">
                                    <p><strong>Foto: </strong>Repanteo de las tuberias soterradas de las redes técnicas
                                    </p>
                                </div>
                            </div>
                            <div class="slider__text-item" data-id="7">
                                <div class="slider__text-item-head">
                                    <h3>SC Quemadense</h3>
                                </div>
                                <div class="slider__text-item-info">
                                    <p><strong>Foto: </strong>Otra vista mas completa de el repanteo de las tuberias
                                        antes de ser soterradas</p>
                                </div>
                            </div>
                            <div class="slider__text-item" data-id="8">
                                <div class="slider__text-item-head">
                                    <h3>Proyecto</h3>
                                </div>
                                <div class="slider__text-item-info">
                                    <p><strong>Foto: </strong>Elevación Este desde el lateral de la obra</p>
                                </div>
                            </div>
                            <div class="slider__text-item" data-id="9">
                                <div class="slider__text-item-head">
                                    <h3>Proyecto</h3>
                                </div>
                                <div class="slider__text-item-info">
                                    <p><strong>Foto: </strong>Elevación Norte desde el Frente de la obra</p>
                                </div>
                            </div>
                            <div class="slider__text-item" data-id="10">
                                <div class="slider__text-item-head">
                                    <h3>Proyecto</h3>
                                </div>
                                <div class="slider__text-item-info">
                                    <p><strong>Foto: </strong>Elevación Sur desde la parte trasera de la obra</p>
                                </div>
                            </div>
                            <div class="slider__text-item" data-id="11">
                                <div class="slider__text-item-head">
                                    <h3>Proyecto</h3>
                                </div>
                                <div class="slider__text-item-info">
                                    <p><strong>Foto: </strong>Elevación Oste desde el lateral de la obra</p>
                                </div>
                            </div>
                            <div class="slider__text-item" data-id="12">
                                <div class="slider__text-item-head">
                                    <h3>Proyecto</h3>
                                </div>
                                <div class="slider__text-item-info">
                                    <p><strong>Foto: </strong>Imaginarios 3D de la obra</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider__nav">
                        <div class="slider__nav-arrows">
                            <div class="slider__nav-arrow slider__nav-arrow--left" id="left">to left</div>
                            <div class="slider__nav-arrow slider__nav-arrow--right" id="right">to right</div>
                        </div>
                        <div class="slider__nav-dots" id="slider-dots">
                            <div class="slider__nav-dot slider__nav-dot--active" data-id="1"></div>
                            <div class="slider__nav-dot" data-id="2"></div>
                            <div class="slider__nav-dot" data-id="3"></div>
                            <div class="slider__nav-dot" data-id="4"></div>
                            <div class="slider__nav-dot" data-id="5"></div>
                            <div class="slider__nav-dot" data-id="6"></div>
                            <div class="slider__nav-dot" data-id="7"></div>
                            <div class="slider__nav-dot" data-id="8"></div>
                            <div class="slider__nav-dot" data-id="9"></div>
                            <div class="slider__nav-dot" data-id="10"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- contact -->
    <section id="contact" class="section">
        <div class="title">
            <h2>Contact<span>enos</span></h2>
        </div>

        <!-- Contact-Me -->
        <div class="contact-me-center">

            <!-- form-gif -->
            <article class="contact-me-img">
                <img src="../file/img/Messaging-pana.svg" loading="lazy" alt="animation-contact.gif" />
            </article>

            <!-- form -->
            <div class="form-container">
                <!-- Formulary -->
                <form id="contactform" class="contact-form" method="POST">
                    <!-- action="https://formsubmit.co/d7806d2cd988e3d83578204922a92a29" method="POST" -->
                    <!-- title -->
                    <div class="form-heading">
                        <h2>Escribenos!</h2>
                    </div>
                    <!-- Message Success -->
                    <div class="form-message hide" style="display: block;"></div>
                    <!-- FORM -->
                    <div class="form-intro">
                        <!-- name -->
                        <div class="form-group">

                            <div class="input-box"">
                                <input id=" name" autocomplete="off" name="name" class="form-control" required="">
                                <span>Nombre</span>
                                <i></i>
                            </div>
                        </div>
                        <!-- email -->
                        <div class="form-group">
                            <div class="input-box">
                                <input name="email" autocomplete="off" class="form-control" type="text" required="">
                                <span>Correo</span>
                                <i></i>
                            </div>
                        </div>
                        <!-- phone -->
                        <div class="form-group">
                            <div class="input-box">
                                <input name="phone" autocomplete="off" class="form-control" type="text" required="">
                                <span>Teléfono</span>
                                <i></i>
                            </div>
                        </div>
                        <!-- message -->
                        <div class="form-group">
                            <div class="input-box">
                                <textarea id="message" name="message" autocomplete="off" name="comment"
                                    class="form-control" placeholder="Escribe un Mensaje!" prerows="5"></textarea>
                            </div>
                        </div>
                        <!-- submit -->
                        <div class="form-group">
                            <div class="input-box">
                                <button class="btn-submit" autocomplete="off" type="submit">Enviar Mensaje!</button>
                            </div>
                            <!-- Send Mail Notification  -->
                        </div>
                    </div>

                    <input type="hidden" name="_captcha" value="false">
                </form>
            </div>

            <div class="directory-container">
                <section class="directory">
                    <div class="contact-box">
                        <div class="icon"><i class="fa fa-map" aria-hidden="true"></i>
                        </div>
                        <div class="contact-text">
                            <h3>Dirección</h3>
                            <p>Carretara Central Km 298 banda Esperanza. Villa Clara.<br>Cuba</p>
                        </div>
                    </div>

                    <div class="contact-box">
                        <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div class="contact-text">
                            <h3>Teléfono</h3>
                            <a class="shortcut-link" href="tel:+42 209182">+42 209182</a>
                        </div>
                    </div>

                    <div class="contact-box">
                        <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="contact-text">
                            <h3>Correo</h3>
                            <a class="shortcut-link" href="mailto:invcimexvc@gmail.com">invcimexvc@gmail.com</a>
                        </div>
                    </div>

                </section>
            </div>
        </div>
        <!-- end of contact-->
    </section>

    <!-- footer -->
    <footer class="section-footer">
        <p>
            copyright &copy; Grupo de Inversiones VC
            <span id="date"></span>.Todos los Derechos Reservados
        </p>
    </footer>

    <a class="scroll-link top-link" href="#home">
        <i class="fas fa-arrow-up"></i>
    </a>

    <!-- javascript -->
    <script src="../src/js/script-form.js"></script>
    <script src="../src/js/script-vista-gallery.js"></script>
    <script src="../src/js/script-gallery.js"></script>

</body>

</html>