@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;800;900&display: =swap");

.contact-me-img {
  display: flex;
  align-items: center;
  border-right: solid 0.5px var(--clr-red-dark);
  overflow: none;
}

.directory-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-left: solid 0.5px var(--clr-red-dark);
}

.directory {
  padding: 3rem 0 2rem 2rem;
}

.directory .contact-box {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-top: 2.5rem;
}

.contact-box h3 {
  padding: 0;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-family: "Poppins", sans-serif;
}

.contact-box .icon {
  color: var(--clr-white);
  scale: 1.5;
  background: var(--clr-red-dark);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  min-width: 2.5rem;
}

@media screen and (max-width: 450px) {

  .contact-box .icon {
    color: var(--clr-white);
    scale: 1.4;
    background: var(--clr-red-dark);
    border-radius: 50%;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    min-width: 1.6rem;
  }

  .contact-box h3 {
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }

  .contact-box p {
    font-size: 0.9em;
  }

  .contact-box .shortcut-link {
    font-size: 10em;
    color: var(--clr-grey-5);
    text-decoration: none;
  }

  .contact-box .shortcut-link:active {
    color: #000;
  }

  .contact-box .shortcut-link:hover {
    text-decoration: underline;
    text-decoration-color: var(--clr-red-dark);
  }
}

/* form style */

.form-intro {
  width: 100%;
  background: transparent;
  border-radius: 5px;
  padding: 1.5rem;
  box-sizing: border-box;
}

.form-heading h2 {
  font-size: 1.4rem;
  color: var(--clr-blak);
  font-weight: bold;
  font-style: sub;
}

.contact-form {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.input-box {
  position: relative;
  padding-left: 20px;
}

.input-box .form-control {
  position: relative;
  width: 95%;
  padding: 20px 10px 10px;
  font-size: 1.5em;
  margin: 1rem 0;
  border: none;
  background: transparent;
  background-color: transparent !important;
  outline: none;
  box-shadow: none !important;
  ;
  resize: none;
  transition: 0.5s;
  z-index: 2;
}

.form-control::-webkit-autofill {
  background: transparent;
}

.input-box span {
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 20px 10px 0px 10px;
  pointer-events: none;
  color: var(--clr-grey-5);
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 1;
}

.input-box .form-control:focus~span,
.input-box .form-control:valid~span {
  color: var(--clr-red-dark);
  font-size: 13px;
  font-weight: bold;
  transform: translateY(-50px);
  transition: 0.5s ease;
  background: transparent;
}

textarea::-webkit-input-placeholder {
  color: var(--clr-grey-5);
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.05em;
}


textarea:-moz-placeholder {
  color: var(--clr-grey-5);
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.05em;
}

textarea::-moz-placeholder {
  color: var(--clr-grey-5);
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.05em;
}

textarea:-ms-input-placeholder {
  color: var(--clr-grey-5);
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.input-box i,
.input-box i {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 95%;
  height: 2.5px;
  background: var(--clr-red-dark);
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}

.input-box .form-control:focus~i {
  height: 50px;
  background: #f8c3c3;
}

.btn-submit {
  width: 50%;
  background: var(--clr-red-dark);
  color: var(--clr-white);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 0.02em;
  border-radius: 5px;
}

.btn-submit:active {
  opacity: 0.8;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }

  .container {
    flex-direction: column;
  }

  .container .contactInfo {
    margin-bottom: 40px;
  }

  .container .contactInfo,
  .contactform {
    width: 100%;
  }
}