@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;800;900&display: =swap");

.contact-me-img {
  display: flex;
  align-items: center;
  border-right: solid 0.5px var(--clr-red-dark);
  overflow: none;
}

.directory-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-left: solid 0.5px var(--clr-red-dark);
}

.directory {
  padding: 3rem 0 2rem 2rem ;
}

.directory .contact-box {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-top: 2.5rem;
}

.contact-box h3 {
  padding: 0;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-family: "Poppins", sans-serif;
}

.contact-box .icon {
  color: var(--clr-white);
  scale: 1.5;
  background: var(--clr-red-dark);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  min-width: 2.5rem;
}

@media screen and (max-width: 450px) {

  .contact-box .icon {
    color: var(--clr-white);
    scale: 1.4;
    background: var(--clr-red-dark);
    border-radius: 50%;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    min-width: 1.6rem;
  }

  .contact-box h3 {
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }
  .contact-box p {
    font-size: 0.9em;
  }

}

/* form style */

.form-intro {
  width: 100%;
  background: #d1d0d0c5;
  border-radius: 5px;
  padding: 1.5rem;
  box-sizing: border-box;
}

.form-heading h2 {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

.contact-form {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.input-box {
  position: relative;
  padding-left: 20px;
}

.input-box .form-control {
  position: relative;
  width: 90%;
  padding: 20px 10px 10px;
  background: transparent;
  font-size: 1em;
  margin: 1rem 0;
  border: none;
  border-bottom: 1px solid #c71e1e;
  outline: none;
  box-shadow: none;
  resize: none;
  transition: 0.5s;
}

.input-box span {
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 20px 10px  0px 10px;
  pointer-events: none;
  color: #000;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 2;
}

.input-box .form-control:focus~span,
.input-box .form-control:valid~span,
.input-box .form-control:focus~span,
.input-box .form-control:valid~span {
  color: #263849;
  font-size: 12px;
  transform: translateY(-25px);
  font-weight: normal;
  transition: 0.5s ease-out;
}

.form-grup .input-box input[type="submit"] {
  width: 80%;
  background: #263849;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }

  .container {
    flex-direction: column;
  }

  .container .contactInfo {
    margin-bottom: 40px;
  }

  .container .contactInfo,
  .contactform {
    width: 100%;
  }
}