.carrusel-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 100%;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 0px -5px rgba(0, 0, 0, 0.125);
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 30s linear infinite;
          animation: scroll 30s linear infinite;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: calc(250px * 12);
}
.slider .slide1 {
  min-height: 3rem;
  width: 3rem;
  background: url(../../file/img/cime.png) center/100% 100% no-repeat;
}
.slider .slide2 {
  min-height: 3rem;
  width: 3rem;
  background: url(../../file/img/datacimex-logo.png) center/100% 100% no-repeat;
}
.slider .slide3 {
  min-height: 3rem;
  width: 3rem;
  background: url(../../file/img/divTec-log.png) center/100% 100% no-repeat;
}
.slider .slide4 {
  min-height: 3rem;
  width: 3rem;
  background: url(../../file/img/inversiones-logo.jpg) center/100% 100% no-repeat;
}
.slider .slide5 {
  min-height: 3rem;
  width: 3rem;
  background: url(../../file/img/ecuse-logo.png) center/100% 100% no-repeat;
}
.slider .slide6 {
  min-height: 3rem;
  width: 3rem;
  background: url(../../file/img/cime.png) center/100% 100% no-repeat;
}
.slider .slide7 {
  min-height: 3rem;
  width: 3rem;
  background: url(../../file/img/tu-envio.jpg) center/100% 100% no-repeat;
}
.slider .slide8 {
  min-height: 3rem;
  width: 3rem;
  background: url(../../file/img/cupet-logo.png) center/100% 100% no-repeat;
}
.slider .slide9 {
  min-height: 3rem;
  width: 3rem;
  background: url(../../file/img/cimex-mariel.jpg) center/100% 100% no-repeat;
}
.slider .slide10 {
  min-height: 3rem;
  width: 3rem;
  background: url(../../file/img/cimex-rojo.png) center/100% 100% no-repeat;
}
.slider .slide11 {
  min-height: 3rem;
  width: 3rem;
  background: url(../../file/img/tienda-mayorista.png) center/100% 100% no-repeat;
}
.slider .slide12 {
  min-height: 3rem;
  width: 3rem;
  background: url(../../file/img/cime.png) center/100% 100% no-repeat;
}
